:root {
    --p-dark: #171717;
    --p-dark-bg: #1a1a1a;
    --p-black: #0d0d0d;
    /* --p-background: #1a1a1a; */
    --p-background: #d9d9d9;
    --p-white: #d9d9d9;
    --bs: 1;
  }

  .dark {
    color: var(--p-white);
  }

  .light {
    background-color: var(--p-white);
    color: var(--p-dark);
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #1d242b;
    overflow: hidden;
  }

  h1{
    /* color: var(--p-white); */
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    /* color: var(--p-dark); */
    margin: 0;
  }
  
  .main-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: var(--p-dark);
  }
  
  .menu {
    margin: 0 0.8rem;
    width: 3.5rem;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-section {
    display: flex;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    width: 100%;
  }
  
  @media only screen and (max-width: 900px){
    .main-container{
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    .menu{
      order: 0;
      height: 3rem;
      width: 80%;
      flex-direction: row;
    }
    .menu-section{
      flex-direction: row;
    }
  }

  
  /* ---------------------------------------------- user ----------------------------------------------------*/
  
  .menu-section-user {
    height: 25%;
  }
  
  /* ---------------------------------------------- pages ----------------------------------------------------*/
  
  .menu-section-pages {
    height: 50%;
  }
  
  .menu-items-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    max-height: 100%;
  }
  
  .menu-items-container::-webkit-scrollbar {
    display: none;
  }
  
  .menu-item {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    overflow-x: visible;
  }

  .MuiDataGrid-virtualScroller{
    /* overflow: hidden; */
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }
  .MuiDataGrid-virtualScroller::-webkit-scrollbar {
    display: none;
  }
  
  .menu-item svg {
    color: var(--p-white);
    width: 100%;
    transform: scale(var(--bs));
    transition: transform 0.2s ease;
  }

  .menu-item:not(.active):hover svg {
    transform: scale(calc(1.2 * var(--bs)));
  }

  .menu-item.active svg {
    transform: scale(calc(1.4 * var(--bs)));
  }

  @media only screen and (max-width: 900px){
    .menu-section-user{
      height: 5vh;
    }
    .menu-items-container {
      margin: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
      gap: 0rem;
    }
    .menu-item {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      flex-shrink: 0;
      overflow-y: visible;
    }
    .menu-section-pages{
      width: 50%;
      height: auto;
    }
    .menu-item svg {
      width: 1.5rem;
      height: auto;
    }
  }

  
  
  /* ---------------------------------------------- logout ----------------------------------------------------*/
  
  .menu-section-logout {
    height: 25%;
    transform: scale(0.7);
    
  }
  
  /* ---------------------------------------------- page content ----------------------------------------------------*/
  
  .content {
    margin: 2rem 2rem 2rem 0;
    width: 100%;
    border-radius: 1.5rem;
  }
  
  .mydatagrid{
    margin: 0;
    padding: 15px;
  }

  @media only screen and (max-width: 900px){
    .content{
      order: -1;
      height: 92vh;
      margin: 0;
      margin-top: 1vh;
      width: 100%;
      border-radius: 0.5rem;
    }
    .mydatagrid{
      height: 100%;
    }
  } 
  
  /* ---------------------------------------------- page content ----------------------------------------------------*/
  
  .test-class{
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
  }
