:root {
    --p-dark: #171717;
    --p-black: #0d0d0d;
    --p-whitest: #f2f2f2;
    --p-white: #d9d9d9;
    --bs: 1;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #1d242b;
    overflow: hidden;
  }
  
  .main-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: var(--p-dark);
  }
  
  .menu {
    margin: 0 0.8rem;
    width: 3.5rem;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu-section {
    display: flex;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    width: 100%;
  }
  
  /* ---------------------------------------------- user ----------------------------------------------------*/
  
  .menu-section-user {
    height: 25%;
  }
  
  /* ---------------------------------------------- pages ----------------------------------------------------*/
  
  .menu-section-pages {
    height: 50%;
  }
  
  .menu-items-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    max-height: 100%;
  }
  
  .menu-items-container::-webkit-scrollbar {
    display: none;
  }
  
  .menu-item {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    overflow-x: visible;
  }

  .MuiDataGrid-virtualScroller{
    /* overflow: hidden; */
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }
  .MuiDataGrid-virtualScroller::-webkit-scrollbar {
    display: none;
  }
  
  /* .menu-item .active svg{
    color: var(--p-whitest);
    transform: scale(0.1);
  } */
  /* .active{
    transform: scale(0.8);
  } */
  
  .menu-item svg {
    color: var(--p-white);
    width: 100%;
    transform: scale(var(--bs));
    transition: transform 0.2s ease;
  }

  .menu-item:not(.active):hover svg {
    transform: scale(calc(1.2 * var(--bs)));
  }

  .menu-item.active svg {
    transform: scale(calc(1.4 * var(--bs)));
  }
  


  
  /* ---------------------------------------------- logout ----------------------------------------------------*/
  
  .menu-section-logout {
    height: 25%;
    transform: scale(0.7);
    
  }
  
  /* ---------------------------------------------- page content ----------------------------------------------------*/
  
  .content {
    margin: 2rem 2rem 2rem 0;
    flex-grow: 1;
    border-radius: 1.5rem;
    background-color: var(--p-whitest);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .supra{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .slaman{
    height: 50%;
    max-height: 50%;
    background-color: red;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
  }
  .slaman2{
    height: 50%;
    max-height: 50%;
    background-color: green;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    width: 100%;
  }

  .mydatagrid{
    margin: 0;
    padding: 0;
    border-radius: 25px;
  }
  
  h1 {
    color: #000;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin: 40px 50px;
    margin-bottom: 0;
  }
  
  
  /* ---------------------------------------------- page content ----------------------------------------------------*/
  
  .test-class{
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
  }