.draggable {
    position: absolute;
    background-color: black;
    width: 100px;
    height: 100px;
}

.selection_area{
    margin: 0 auto;
    width: 20%;
    height: 80%;
    background-color: blue;
    aspect-ratio: 16 / 9;
    padding: 0;
}

@keyframes pop{
  50%  {transform: scale(1.2);}
}

.selection_dot{
    background-color: black;
    position: absolute;
    border-radius: 50%;
    animation: transform 0.1s ease-in-out;
}