.draggable {
    position: absolute;
    background-color: black;
    width: 100px;
    height: 100px;
}

.selection_area{
    margin: auto;
    height: 80%;
    width: 80%;
    background-color: blue;
}

@keyframes pop{
  50%  {transform: scale(1.2);}
}

.selection_dot{
    background-color: black;
    position: absolute;
    border-radius: 50%;
    animation: transform 0.1s ease-in-out;
}