.polygon rect{
  transition-property: fill; 
  transition-duration: 0.5s; 
  transition-timing-function: ease; 
  fill: black;
}

.line{
    transition-property: stroke stroke-width; 
    transition-duration: 0.5s;
    transition-timing-function: ease; 

    stroke-width: 5;
    stroke: white
}

.nopointerevents{
  pointer-events: none;
}

.labels:not(.moving){
    transition-property: x y; 
    transition-duration: 0.1s;
    transition-timing-function: ease; 
}

.polygon{
  position: relative;
}

.DEFAULT:hover rect{
  fill: rgb(86, 42, 42);
}

.deleteMode:hover line{
  stroke-width: 2;
}

.createMode rect:hover,
.editMode rect:hover{
  fill: white;
}

.editMode .line:hover,
.editMode .line:hover ~.line,
.editMode .line:has(~ .line:hover){
  stroke-width: 7;
}