.flexcontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.flexcontainer div{
    outline-style: stroke;
    outline-color: white;
    background-color: black;
}